
<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Review Date</th>
      <th>Category</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.id %>
          <input type="hidden" id="review_<%= review.id %>" value="<%= review.id %>">
        </td>
        <td><%= review.date.strftime("%d/%m/%Y") %></td>
        <td><%= review.reviewable.category.name %></td>
        <td><%= review.reviewable.title %></td>
        <td><%= review.reviewable.content %></td>
        <td>
          <%= link_to 'Done', mark_review_as_done_path(review),
            :method => :put, data: { confirm: "Are you sure??" },
            id: "mark_review_as_done_#{review.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<div>
  <%= link_to "Annotations", annotations_path %>
  <br/>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
