<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @annotation.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @annotation.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @annotation.category.name %>
</p>

<p>
  <strong>Next review date:</strong>
  <%= @annotation.next_review.date.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Dashboard', dashboard_path %> |
<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
